#body-box{
    width: 501px;
    height: 502px;
    margin: 0 auto;
    margin-top: 100px;
    border: 5px solid black;
    border-radius: 10%;
    padding: 0px;
}
#move{
        position: relative;
        width: 80px;
        height: 80px;
        border: 1px solid red;
        border-radius: 50%;
        background-color: red;
        -webkit-animation-name: mov;
        -webkit-animation-duration: 4s;
        -webkit-animation-iteration-count: infinite;
        animation-name: mov;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

@-webkit-keyframes mov{
    0%{margin-left: 0px;}
    25%{margin-left: 0px; margin-top: 420px;}
    50%{margin-left: 84%; margin-top: 420px;}
    75%{margin-left: 84%; margin-top: 0px;}
    100%{margin-left: 0px;}
    }

@keyframes mov{
    0%{margin-left: 0px;}
    25%{margin-left: 0px; margin-top: 420px;}
    50%{margin-left: 84%; margin-top: 420px;}
    75%{margin-left: 84%; margin-top: 0px;}
    100%{margin-left: 0px;}
    }